.popup-wrap {
  position: absolute;
  overflow-y: visible;
  overflow-x: hidden;
  /*
  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  */
  display: block;
  border-radius: 4px;
  /*transform: translateY(20px);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;*/
  visibility: hidden;
  /*max-height: 0px;*/
}
.popup-wrap .content {
  opacity: 1;
}
.popup-wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #fff;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  /*-webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);*/
}
.popup-wrap.active {
  display: block;
  /*max-height: 2000px;*/
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  /*transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transform: translateY(0px);*/
}
.popup-wrap.active:before {
  height: 2000px;
  width: 2000px;
  margin-left: -1000px;
  margin-top: -1000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: block;
  /*-webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);*/
}
.popup-wrap.active .content {
  position: relative;
  z-index: 1000;
  opacity: 1;
  /*background: #101010;*/
  /*transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);*/
}

a.circle-button {
  padding: 11px 11px 13px 13px;
  outline: none;
  border-radius: 50%;
  background: #007fed;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
}
a.circle-button:hover {
  text-decoration: none;
  background: #2198ff;
}
a.circle-button.active {
  transform: rotate(135deg);
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.centered {
  margin: auto;
  text-align: center;
}

.width80vw {
  width: 80vw;
}

.width80 {
  width: 80%;
}

.fullwidth {
  width: 100%;
}

.white {
  background-color:  white;
}

a.red-on-hover:hover {
  color: red;
  cursor: pointer;
}



/***************************************************
Taken from https://codepen.io/FluidOfInsanity/pen/mOGLbZ

Original:
<a href="#popup1" class="btn">Popup</a> <---  id is identical to next!
<div id="popup1" class="popup">         <---  here id is as above
  <a href="#" class="close">&times;</a>
  <h2>The Popup Has Arrived</h2>
  <p>This popup can be closed by
     clicking the fancy <b>×</b>
     in the top right corner or
     by clicking outside the popup box!</p>
</div>
<a href="#" class="close-popup"></a>

Current:

<a onclick="$('#p1').addClass('target')"></a>
<div class="octo-popup" id="p1">
  popup text...
</div>
<a onclick="$('#p1').removeClass('target') class="octo-close-popup"></a>

***************************************************/

.octo-popup {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  top: 20px;
  left: 20px;
  /*transform: translate(0,-50%);*/
  background: rgba(255,255,255,.8);
  /* visibility: hidden; */
  display: none;
  /* width: 0px; */
  max-height: 0px;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1010;
}
/* .octo-popup:target */
.octo-popup.target {
  /* visibility: visible; */
  display: block;
  width: 80vw;
  max-height: 80vw;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.octo-popup-close {
  position: relative;
  padding: 4px;
  max-width: 1500px;
  font-weight: bold;
  line-height:  2em;
  text-decoration: none;
  /*border-radius: 0px;*/
  top: 0px;
  left: 0px;
  /*transform: translate(-50%,-50%);*/
  background: rgba(255,255,255,.9);
}
.octo-popup-close:hover {
  text-decoration: none;
  color: red;
}
.octo-popup .close {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
  text-decoration: none;
}
.octo-popup .close:hover {
  color: red;
  text-decoration: none;
}

.octo-close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.octo-popup.target + .octo-close-popup{  
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 1009;
}

/*   2-nd level popup */
.octo-popup2 {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  top: 20px;
  left: 20px;
  display: none;
  /*transform: translate(0,-50%);*/
  background: rgba(255,255,255,.8);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1200;
}
/* .octo-popup:target */
.octo-popup2.target {
  visibility: visible;
  width: 80vw;
  opacity: 1;
  display: block;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.octo-close-popup2 {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.octo-popup2.target + .octo-close-popup2{
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 1199;
}

.thanks {
  position: fixed;
  left: 30vw;
  right: 30vw;
  top: 45vh;
  visibility: hidden;
  display: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 5000;
}

@keyframes thanks {
  from {
    left: -30vw;
    opacity: 0;
  }
  to {
    left: 30vw;
    opacity: 1;
  }
}

.thanks .active {
  animation: thanks 2s ease-in-out both;
  display: block;
}