.popup-wrap {
  position: absolute;
  overflow-y: visible;
  overflow-x: hidden;
/*  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  */
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  visibility: hidden;
}
.popup-wrap .content {
  opacity: 0;
}
.popup-wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.popup-wrap.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transform: translateY(0px);
}
.popup-wrap.active:before {
  height: 2000px;
  width: 2000px;
  margin-left: -1000px;
  margin-top: -1000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.popup-wrap.active .content {
  position: relative;
  z-index: 100;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.circle-button {
  padding: 11px 11px 13px 13px;
  outline: none;
  border-radius: 50%;
  background: #007fed;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
}
a.circle-button:hover {
  text-decoration: none;
  background: #2198ff;
}
a.circle-button.active {
  transform: rotate(135deg);
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.centered {
  margin: auto;
  text-align: center;
}

.width80 {
  width:  80vw;
}