[Unit]
Description=Main Sidekiq worker
Wants=network-online.target
After=syslog.target network.target network-online.target

[Service]
Type=simple
WorkingDirectory=!deploy_to!/current
ExecStart=/bin/bash -ic 'bundle exec sidekiq -C config/sidekiq.yml'
TimeoutSec=15
Restart=always

[Install]
WantedBy=default.target
