javascript:
  alert("#{request.url}");
  $.ajax({
        url : "#{request.url}", // the endpoint
        dataType : "script", 
        type: "GET",
        data: {
          page: "#{params[:page]}",
        },
         // http method
         // data sent with the post request

        // handle a successful response
        
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(errmsg);
            console.log(err);
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    }); 