<!DOCTYPE html>
<html>
<head>
  <title>Hardware2</title>
  <%= stylesheet_link_tag    "hardware2/application", media: "all" %>
  <%= javascript_include_tag "hardware2/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
