div style='display:none;'
    div#select-field
      = @ff.select 'replace_id', [], { label: 'replace_name'}, class: 'select2-custom'
    div#text-field
      = @ff.text_field 'replace_id', { label: 'replace_name' }
javascript:
  var wrapper = $('div#fields-wrapper');
  $('#q_contains_all_fields').change(function(){
    var self = $(this);
    var new_elements = [];
    var val = self.val();
    for(var i in val){
      new_elements[i] = val[i];
    }
    $('div#fields-wrapper div.field-container').each(function(){
      var cur_field = $(this);
      var field_id = cur_field.attr('field-id');

      if((val || []).includes(field_id)){
        var new_index = new_elements.indexOf(field_id);
        new_elements.splice(new_index,1);
      }else{
        cur_field.remove();
      }
    });

    for(var i in new_elements){
      var v = new_elements[i];
      var html = `<div class="col-md-3 field-container" field-id="${v}"></div>`;
      wrapper.append(html);
      //var new_object_id = new Date().getTime() ;
      $.ajax({
        dataType: "json",
        url: "#{fields_show_path(admin: admin?)}",
        data: {id: v},
        success: function(result){
          var field_container = $(`.field-container[field-id='${v}']`);
          if(result.field_type == 'text'){
            field_container.append($('div#text-field').html());
          }else{
            field_container.append($('div#select-field').html());
          }

          var html = field_container.html().replace(/replace_id/g, v).replace(/replace_name/g, result.name);
          field_container.html(html);
          var options =  { allowClear: true,
                           placeholder: select2_localization[window.locale],
                           multiple: result.field_type == 'check_box'};
          if(result.source)
            apply_select_to(field_container.find('select'), result.source);
          else{
            if(result.field_type == 'check_box')
              options.data =  result.field_options;
            else{
              options.data =  [{id: '', text: ''}].concat(result.field_options);

            }
            field_container.find('select').select2(options);
          }

        }
      });

      //console.log($(`.field-container[field-id='${v}']`).find('select').html());

    }


  });
