<div class="container mt-4">
  <div class="mb-4">
    <%= link_to admin_job_notification_path(@notification), class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> Назад к уведомлению
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Редактирование уведомления</h2>
    </div>
    <div class="card-body">
      <%= render 'form', notification: @notification %>
    </div>
  </div>
</div>
