<div class="container mt-4">
  <div class="mb-4">
    <%= link_to admin_job_notifications_path, class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> <%= t('.back_to_list') %>
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h2><%= t('.new_notification') %></h2>
    </div>
    <div class="card-body">
      <%= render 'form', notification: @notification %>
    </div>
  </div>
</div>
