=label 'access[forever]',Pack::Access.human_attribute_name("forever")
= radio_button_tag 'access[forever]', true, false, enab: "disable"
=label 'access[forever]',Pack::Access.human_attribute_name("not_forever")
= radio_button_tag 'access[forever]',false, false, enab: "enable"
= f.text_field :end_lic,{label: Pack::Access.human_attribute_name('end_lic'), class: 'form-control my_datepicker',enab: "item",placeholder: "mm-dd-yy"}
