[Unit]
Description=Octoshell web server - sidekick session mailer
After=network.target auditd.service octoshell.service
ConditionPathExists=!/etc/octoshell_not_to_be_run

PartOf=octoshell.service
BindsTo=octoshell.service

[Service]
EnvironmentFile=-/var/www/octoshell2/env
WorkingDirectory=/var/www/octoshell2
ExecStart=/var/www/octoshell2/run_current rbenv exec bundle exec sidekiq -q session_mailer -g session_mailer
KillMode=process
Restart=on-failure
User=octoadmin

[Install]
Alias=octoshell-sq-sessions-mailer.service

