	<div class="container markdownlive-container">
		<div class="row">
			<div class="col-md-12">
				<div class="bar">
					<ul class="markdownlive-bar">
						<li title="Bold" data-before="**" data-after="**" data-placeholder="some text in bold">
							<i class="fa fa-bold"></i>
						</li>
						<li title="Italics" data-before="*" data-after="*" data-placeholder="some text in italic">
							<i class="fa fa-italic"></i>
						</li>
						<li title="Link" data-before="[ " data-after="](http:// &quot;Link title&quot;)" data-placeholder="link">
							<i class="fa fa-link"></i>
						</li>
						<li title="Image" data-before="![Alt text](" data-after=")" data-placeholder="http://">
							<i class="fa fa-picture-o"></i>
						</li>
						<li title="Unordered list" data-before="* " data-after="" data-extendselect="1">
							<i class="fa fa-list-ul"></i>
						</li>
						<li title="Ordered list" data-before="1. " data-after="" data-placeholder="Item 1&#13;2. Item 2&#13;3. Item 3&#13;" data-extendselect="1">
							<i class="fa fa-list-ol"></i>
						</li>
						<li title="Blocks" data-before="    " data-after="" data-placeholder="A block content" data-block="1" data-extendselect="1">
							<i class="fa fa-indent"></i>
						</li>
						<li title="Table" data-before="" data-placeholder="First Header  &#124;Second Header &#13;------------- &#124;------------- &#13;Content cell 1 &#124;Content cell 2 &#13;Content cell 3  &#124;Content cell 4 &#13;" data-after="" data-block="1">
							<i class="fa fa-table"></i>
						</li>
						<li title="Quote" data-before="> " data-after="" data-extendselect="1" data-block="1" data-placeholder="Quoted text">
							<i class="fa fa-quote-right"></i>
						</li>
						<li title="Horizontal rule" data-before="***" data-after="" data-extendselect="1" data-block="1">
							<i class="fa fa-ellipsis-h"></i>
						</li>
						<li title="Center" data-before="<center>" data-after="</center>" data-extendselect="1">
							<i class="fa fa-align-center"></i>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-md-6">
					<%= text_area_field%>
			</div>
			<div class="col-md-6">
				<div class="markdownlive-preview"></div>
			</div>
		</div>
	</div>
