development:
  adapter: postgresql
  encoding: unicode
  database: new_octoshell
  user: octo
  host: localhost
  password: 'octopass'

test:
  adapter: postgresql
  encoding: unicode
  database: new_octoshell_test
  user: octo
  host: localhost
  password: 'octopass'

production:
  adapter: postgresql
  encoding: unicode
  database: new_octoshell
  pool: 10
  min_messages: warning
  user: octo
  host: localhost
  password: 'octopass'
