production:
  secret_key_base: very_secret_key
  hardware_api: your_hw_api_key_here
  base_host: 'octoshell_host.ru'
  email:
    host: 'host for smtp server and imap server'
    password:  'password'
    login: 'login for smtp'
    ssl: true
    smtp_port: 587
    imap_port: 993
