<div class="container mt-4">
  <div class="mb-4">
    <%= link_to users_job_notifications_path(@user), class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> Назад к настройкам пользователя
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Настройка уведомления "<%= @notification.name %>" для пользователя <%= @user.email %></h2>
    </div>
    <div class="card-body">
      <%= render 'form', user_default: @user_default, notification: @notification, user: @user %>
    </div>
  </div>
</div>
