.container.mt-4
  .d-flex.justify-content-between.align-items-center.mb-4
    h1
      = t('.title')
    div
      = link_to t('.to_notifications'), admin_job_notifications_path, class: "btn btn-outline-secondary"
      = link_to t('.logs'), job_notification_event_logs_path, class: "btn btn-outline-primary"
      = button_to t('.process_events'), process_batch_job_notification_events_path, method: :post, class: "btn btn-warning ml-2", data: { confirm: t('.process_confirmation') }
  .card
    .card-body
      - if @events.any?
        .mb-3
          .row
            .col-md-3
              .card.bg-light
                .card-body
                  h5.card-title
                    = t('.total_events')
                  p.card-text.display-4
                    = Core::JobNotificationEvent.count
            .col-md-3
              .card.bg-info.text-white
                .card-body
                  h5.card-title
                    = t('.unprocessed')
                  p.card-text.display-4
                    = Core::JobNotificationEvent.unprocessed.count
            .col-md-3
              .card.bg-success.text-white
                .card-body
                  h5.card-title
                    = t('.processed')
                  p.card-text.display-4
                    = Core::JobNotificationEvent.where(processed: true).count
            .col-md-3
              .card.bg-warning
                .card-body
                  h5.card-title
                    = t('.last_24h')
                  p.card-text.display-4
                    = Core::JobNotificationEvent.where('created_at >= ?', 24.hours.ago).count
        .table-responsive
          table.table.table-hover
            thead
              tr
                th
                  = t('.id')
                th
                  = t('.notification')
                th
                  = t('.job')
                th
                  = t('.user')
                th
                  = t('.project')
                th
                  = t('.created')
                th
                  = t('.status')
                th
                  = t('.actions')
            tbody
              - @events.each do |event|
                tr
                  td
                    = event.id
                  td
                    = event.job_notification.name
                  td
                    = event.perf_job_id
                  td
                    = event.user.email
                  td
                    = event.core_project.title
                  td
                    = event.created_at.strftime('%d.%m.%Y %H:%M:%S')
                  td
                    - if event.processed
                      span.badge.badge-success
                        = t('.processed_status')
                    - else
                      span.badge.badge-warning
                        = t('.pending_status')
                  td
                    = link_to t('.details'), job_notification_event_path(event), class: "btn btn-sm btn-info"
        .pagination-container
          = paginate @events
      - else
        .alert.alert-info
          = t('.no_events')
