
td, th {
	border-width: 2px;
	border-style: solid;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

tr:nth-child(even) {
  background: #ddd;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
	background: #0088cc;
}

.btn-inline {
  padding: 0 5px; 
}

ol.sortable {
  margin: 0 0 9px 0;
  min-height: 10px;
  list-style-type: none;
  display: block;
  padding-left: 5px;
}
ol.sortable li {
  display: block;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  padding-left: 5px;
  border: 1px solid #cccccc;
}
ol.sortable li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
ol.sortable li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none;
}
/* 
ol {
  list-style-type: none;
}
  ol i.icon-move {
    cursor: pointer; }
  ol li.highlight {
    background: #333333;
    color: #999999; }
    ol li.highlight i.icon-move {
      background: #123456; }

ol.sortable, ol.sortable ol {
  border: 1px solid #eeeeee; }
  ol.sortable.active, ol.sortable ol.active {
    border: 1px solid #333333; }

ol.sortable li, ol.simple_with_animation li, ol.serialization li, ol.default li {
  cursor: pointer; }

ol.simple_with_animation {
  border: 1px solid #999999;
}
 */