- link_plain = change_password_url(token: @reset_password_token)
= t("authentication.mailer.reset_password.text",
  change_password_link: link_to("Сменить пароль", link_plain),
  change_password_link_plain: link_plain).html_safe
