div class="page-header"
  h1 = t(".title", default: "New Notice")
= render 'form'

/ = bootstrap_form_for [:admin, @notice], layout: :horizontal do |f|
/   = f.autocomplete_field :sourceable_id, label: t("user"), source:  main_app.users_path
/   /= f.text_field :sourceable_id
/   /= f.text_field :sourceable_type
/   - options = common_datepicker_options
/   = f.text_field :show_from, options.merge(label: t('.show_from'))
/   = f.text_field :show_till, options.merge(label: t('.show_till'))

/   = f.text_field :linkable_id
/   = f.text_field :linkable_type

/   = f.text_field :category
/   = f.text_field :message
/   = f.text_field :count
/   / = f.form_group :checked,label:{text: '.checked')} do
/   /   = f.check_box :checked,label: ''
/   = f.form_group do
/     = f.submit t("actions.save")
