<!DOCTYPE html>
<html>
<head>
  <title>Pack</title>
  <%= stylesheet_link_tag    "pack/application", media: "all" %>
  <%= javascript_include_tag "pack/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
