/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rails_email_preview/application
 *= require face/application
 *= require core/application
 *= require_self
 */

.button {
  color: white;
  font-family: Arial;
  font-size: 20px;
  border-style: solid;
  border-radius: 9px;
  border-width: 2px;
  border-color: white;
  font-weight: 600;
  text-align: center;
  padding: 7px 15px;
  opacity: 0.9;
  cursor: pointer;
}

.return-btn-container {
  padding-top: 4em;
}


.right-float-button {
  position: fixed;
  right: -18em;
  width: 20em;
  top: 30vh;
  z-index: 6000;
  padding: 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(40, 120, 40, 0.7);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

.right-float-button > div {
  float: left;
}

.right-float-button:hover {
  right: 0;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;

}

.right-float-button-text, .right-float-button-text > a {
  color: white;
}

.right-float-return {
  position: fixed;
  right: -17em;
  width: 20em;
  top: 10vh;
  z-index: 6000;
  padding: 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(120, 40, 40, 0.7);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

.right-float-return > * {
  float: left;
}

.right-float-return:hover {
  right: 0;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;

}

.right-float-button-text, .right-float-button-text > a {
  color: white;
}
.semi-large {
  font-size: 1em;
}

@media screen and (min-width: 762px) {
  .semi-large {
    font-size: 1.5em;
  }
  .right-float-button {
    right: -17em;
  }
}
