/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require face/application
 *= require core/application
 *= require support/application
 *= require sessions/application
 *= require_self
 *= require_tree .
 */

.return-btn-container {
  padding-top: 4em;
}


.right-float-button {
  position: fixed;
  right: -17em;
  width: 20em;
  top: 30vh;
  z-index: 6000;
  padding: 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(0,200,100,.9);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

.right-float-button > div {
  float: left;
}

.right-float-button:hover {
  right: 0;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;

}

.orange {
  color: orange;
}
