= render "header"

p #{t('.user_created_request', full_name: @ticket.reporter.full_name)}

h4 #{t('.ticket')}: #{@ticket}
h5 style="color: 666;" #{t('.topic')}: #{@ticket.topic.name_with_parents}
p
  strong = @ticket.subject

p
	= link_to t('.show_ticket_details'), polymorphic_url([:admin, @ticket], anchor: 'reply')

= render "mailer/footer"
